<!-- Header and Nav -->

<div class="row">
<div class="two columns">
  <h1>Tunr</h1>
</div>
<div class="ten columns">
  <ul class="nav-bar right">
    <li><%= link_to "Home", root_path %></li>
    <%== intellinav %>
    </ul>
</div>
</div>

<!-- End Header and Nav -->
