<!doctype html>
<html>
<body>
  <nav>
    <ul>
      <li><a href="/dogs ">Dogs Page</a></li>
      <li><a href="/dogs/new">Dogs -- New Page</a></li>
      <li><a href="/dogs/faq">Dogs -- FAQ</a></li>

    </ul>
</body>

</html>

Home.