
<a href="/planets">All</a>
<form method='post' action='/planets'>
  Name:
  <input type='text' id='name' name='planet[name]' />
  Image:
  <input type='text' id='image' name='planet[image]' />
  Orbit:
  <input type='text' id='orbit' name='planet[orbit]' />
  Diameter:
  <input type='text' id='diameter' name='planet[diameter]' />
  Mass:
  <input type="text" id="mass" name='planet[mass]' />
  Moons:
  <input type='text' id='moons' name='planet[moons]' />
  <button>Save</button>
</form>