<form method='post' action='/create'>
  Name:
  <input type='text' id='name' name='name' />
  Image:
  <input type='text' id='image' name='image' />
  Orbit:
  <input type='text' id='orbit' name='orbit' />
  Diameter:
  <input type='text' id='diameter' name='diameter' />
  Mass:
  <input type="text" id="mass" name='mass' />
  Moons:
  <input type='text' id='moons' name='moons' />
  <button>Save</button>
</form>