body {
  background: url('/assets/purple-background-1280x1024.jpg') center fixed;
  background-size: cover;
  .row {
    background-color: #fff;
  }
}

h5.logo {
  margin-top: 0;
}

#slider {
  width: 1000px;
  height: 400px;

  .slides {
    width: 1000px;
    height: 400px;
    position: relative;
    background-size: cover;
    text-align: right;
    .title {
      position: absolute;
      font-size: 24px;
      color: #fff;
      font-weight: bold;
      right: 100px;
      top: 10px;
    }
  }

    #slide01 {background: url('/assets/benfoldsfive.jpg');}
    #slide02 {background: url('/assets/oasis.jpg');}
    #slide03 {
      background: url('/assets/lady-gaga.jpg');
      .title {
        font-size: 63px;
      }
    }
    #slide04 {
      background: url('/assets/aerosmith.jpeg');
      .title {
        font-size: 63px;
      }
    }
    #slide05 {background: url('/assets/taylor-swift2.jpg');}
    #slide06 {background: url('/assets/davematthewsband.jpg');}
}

form {
  margin: 0 15px;
}
