@import 'colors';

#users {
  img {
    width: 100px;
    height: 100px;
  }
  td {
    background-color: $cell_color
  }

}

.table_div {
  position: relative;
  min-height: 1500px;

}


.table_div table {
  position: absolute;
  top: 0;
  width: 700px;
  height: 100%;
  align: right;
  right: 0px;
}

.error {
  background-color: red;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}

.song_image {
  width: 300px;
}