@import 'colors';

#users {
  img {
    width: 100px;
    height: 100px;
  }
  td {
    background-color: $cell_color
  }

}

.table_div {
  position: relative;
  height: 1000px;
  overflow: hidden;
}


.table_div table {
  position: absolute;
  top: 0;
  width: 700px;
  height: 100%;
  align: right;
  right: 0px;
}

.row {

}