.table_div
  %table
    %tr
      %td= link_to "New Artist", new_artist_path, :class=>'button radius tiny' if @auth.present? && @auth.is_admin
    %tr
      %td Name
      - if @auth.present? && @auth.is_admin
        %td Options
    - @artists.each do |artist|
      %tr
        %td= link_to artist.name, artist
        %td
          = link_to "Edit", edit_artist_path(artist.id), :class=>'button radius tiny' if @auth.present? && @auth.is_admin
          = link_to "Delete", @artist, :method=>'delete', :class=>'button radius tiny',:confirm=>'Are you sure?' if is_admin


